  <div class="selector11">
    <div class="selector11b">
      <%= follower.nickname %>
    </div>
    <div class="follower_destroy">
      <%= link_to 'x', user_follower_path(follower), :method => :delete,:remote => true, :confirm => "本当に削除しますか？" %>
    </div>
  </div>
  <div id="<%= follower.nickname %>_joined" class="events" style="display: none"></div>
  <img id="<%= follower.nickname %>_joined_loading" src="<%= image_path 'ajax-loader.gif' %> ">


