<script type="text/javascript">
  $(document).ready(function(){
    search_joined_by("<%= @user.nickname %>");
    <% @followers.each do |f| %>
      search_joined_by("<%= f.nickname %>");
    <% end %>
  });
</script>

<div id="main">
  <%= link_to "フォロアーを追加する", new_user_follower_path(@user) if @user == current_user %>
<table width="100%">
  <tr><td valign="top" width="50%">
  <div class="selector_you">  
    <div class="selector_youb"><%= @user.nickname %></div>  
  </div>  
  <div id="<%= @user.nickname %>_joined" class="events" style="display: none"></div>
  <img id="<%= @user.nickname %>_joined_loading" src="<%= image_path 'ajax-loader.gif' %> ">

<% @followers[0...(@followers.size/2)].each do |f| %>
  <%= render :partial => "event_list", :locals => {:user => @user, :follower => f} %>
<% end %>
</td><td valign="top" width="50%">
<% @followers[(@followers.size/2)..-1].each do |f| %>
  <%= render :partial => "event_list", :locals => {:user => @user, :follower => f} %>
<% end %>
</td>
</table>
</div>
