<script type="text/javascript">
  $(document).ready(function(){
    search_joined_by("<%= @user.nickname %>", 1);
    <% @followers.each_with_index do |f,i| %>
      search_joined_by("<%= f.nickname %>", <%= i + 2 %>);
    <% end %>
  });
</script>

<div id="wrapper">
  <div class="row-fluid">
  <% placeholder_no = 1 %>
  <div class="span6">
    <div class="alert alert-info"><%= @user.nickname %>
      <div id="<%= placeholder_no %>_joined" class="events" style="display: none"></div>
      <div><img id="<%= placeholder_no %>_joined_loading" src="<%= image_path 'ajax-loader.gif' %> "></div>
    </div>

    <% @followers[0...(@followers.size/2)].each do |f| %>
      <% placeholder_no += 1 %>
      <%= render :partial => "event_list", :locals => {:user => @user, :follower => f, :placeholder_no => placeholder_no } %>
    <% end %>
  </div>

  <div class="span6">
    <% @followers[(@followers.size/2)..-1].each do |f| %>
      <% placeholder_no += 1 %>
      <%= render :partial => "event_list", :locals => {:user => @user, :follower => f, :placeholder_no => placeholder_no } %>
    <% end %>
  </div>
  </div>
</div>
