<script type="text/javascript">
  $(document).ready(function(){
    <% @followers.each do |f| %>
      search_from_twitter_id_joined("<%= f.twitter_id %>");
    <% end %>
  });

  function search_from_twitter_id_holded(twitter_id){
    var URL = "http://api.atnd.org/events/";
    URL += "?format=jsonp";
    URL += "&callback=" + twitter_id + "_holded_callback";
    URL += "&owner_twitter_id=" + twitter_id;

    var callback_js = document.createElement('script');
    callback_js.charset = 'utf-8';
    callback_js.type = "text/javascript";
    callback_js.text = "function " + twitter_id + "_holded_callback(data){ twi_callback(\"" + twitter_id + "_holded\", data);}";
    document.body.appendChild(callback_js);

    var ADDJS = document.createElement('script');
    ADDJS.charset = 'utf-8';
    ADDJS.src = URL;
    document.body.appendChild(ADDJS);
  }

  function search_from_twitter_id_joined(twitter_id){
    var URL = "http://api.atnd.org/events/";
    URL += "?format=jsonp";
    URL += "&callback=" + twitter_id + "_joined_callback";
    URL += "&twitter_id=" + twitter_id;

    var callback_js = document.createElement('script');
    callback_js.charset = 'utf-8';
    callback_js.type = "text/javascript";
    callback_js.text = "function " + twitter_id + "_joined_callback(data){ twi_callback(\"" + twitter_id + "_joined\", data);}";
    document.body.appendChild(callback_js);

    var ADDJS = document.createElement('script');
    ADDJS.charset = 'utf-8';
    ADDJS.src = URL;
    document.body.appendChild(ADDJS);
  }

  function twi_callback(result_id, data){
    var events_title = "";
    for( i = 0; i < data.events.length; i++){
      var entry = parseInt(data.events[i].accepted) + parseInt(data.events[i].waiting);
      var date = new Date();
      date.setTime(Date.parse(data.events[i].started_at.replace("T"," ")));
      var now_time = new Date();
      if ( date.getTime() >= now_time.getTime() ) {
        events_title += "<a href=\"" + 
        data.events[i].event_url + "\">" +
        data.events[i].started_at.split("T")[0] + " : " + 
        data.events[i].title + 
        "</a>" + 
        ' ' + entry + '/' + 
        data.events[i].limit + 
        "<br>";
      }
    }
    $("#" + result_id + "_loading").hide();
    $("#" + result_id).hide();
    $("#" + result_id).append(events_title);
    $("#" + result_id).show('normal');
  }

</script>

<h1>Mio ATND</h1>

<table width="100%">
  <tr><td valign="top" width="50%">
<% @followers[0...(@followers.size/2)].each do |f| %>
  <div class="selector11">  
    <div class="selector11b"><%= f.twitter_id %></div>  
  </div>  
  <div id="<%= f.twitter_id %>_joined" class="events">
    <img id="<%= f.twitter_id %>_joined_loading" src="<%= image_path 'ajax-loader.gif' %> ">
  </div>
<% end %>
</td><td valign="top" width="50%">
<% @followers[(@followers.size/2)..-1].each do |f| %>
  <div class="selector11">  
    <div class="selector11b"><%= f.twitter_id %></div>  
  </div>  
  <div id="<%= f.twitter_id %>_joined" class="events">
    <img id="<%= f.twitter_id %>_joined_loading" src="<%= image_path 'ajax-loader.gif' %> ">
  </div>
<% end %>
</td>
</table>

