<div class="container">
  <div class="row">
    <div class="span8">

<div class="hero-unit">
  <h1>MioATND</h1>
  <p>
    <h3>概要</h3>
    <ul>
      <li>「MioATND」ではお気に入りのATNDユーザを登録して、参加イベントを一括チェックできます。</li>
      <li>友人やイベント主催者をフォローしておけば、うっかり行きたい勉強会を逃してしまうことも少なくなります。</li>
    </ul>

    <h3>ソースコード</h3>
    <ul>
      <li><a href=https://github.com/volpe28v/mio_atnd>https://github.com/volpe28v/mio_atnd</a></li>
    </ul>
  </p>

  ユーザ数: <%= User.all.count %>
</div>

    </div>
    <div class="span4">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count,"error") %></h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal"}) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <legend>ログイン</legend>
        <div class="control-group">
          <%= f.label :email, :class => "control-label" %>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= f.submit "ログイン", :class => "btn btn-primary" %>
          </div>
        </div>
      </fieldset>
    <% end %>
    </div>
  </div>
</div>

