<!DOCTYPE html>
<html>
<head>
  <title>MioAtnd</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <header>
  <div class="login">
    <% if current_user %>
    <%= current_user.twitter_id %>
    <br><%= link_to 'ログアウト', destroy_user_session_path , :method => :delete %>
  <% else %>
    <%= link_to 'ログイン', new_user_session_path %>
    |
    <%= link_to '新規登録', new_user_registration_path %>
  <% end %>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </header>


<%= yield %>

</div>
</body>
</html>
